/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .gcptitle {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 240px; width: 600px; text-align: center; font-family: 'Poiret One', cursive; font-size: 4em;
 }
 .gcptime {
     position: absolute; bottom: 100px; left: 0; right: 0; margin: auto; height: 100px; width: 600px; text-align: center;
 }

