<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>GCP Next</title>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
        <%= stylesheet_link_tag 'application' %>
    </head>
    <body>
    <%= yield %>
  </body>
</html>
